.homepage-dimmer-image{
  text-align: center;
  height: 300px;
}

.main-weather{
  background-color: eeeeee; 
  font-weight: bold; color: black; 
  border:thin Black; 
  width: 400px;
  height: 200px;
  margin: auto;
  background: rgba(0,0,0,.5);
}

.inner-weather-left{
  vertical-align: left;
  width: 150px;
}

.inner-weather-right{
  font-size: 44px;
  color: white;
  padding-left: 25px;
} 

.weather-specifics{
  text-align: center;
}

/* .input-box-home-page{
  position: relative;
  padding: 10px 0;
} */